.overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 63px;
  width: 100%;
  z-index: 9;
  left: 0;
  background-color: #fefbfbd4;
  bottom: 0;
  color: blue;
}

.menu-content {
  display: flex;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: rgb(188 161 161);
  height: 50px;
  justify-content: space-between;
  padding: 26px 36px;
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}
.show-filter {
  position: absolute;
  right: 0;
  z-index: 1;
  position: fixed;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
